<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="empno" placeholder="empno"/>
    <input type="text" v-model="ename" placeholder="ename"/>
    <input type="text" v-model="job" placeholder="job"/>
    <button type="button" @click="search">search</button>

    <table>
        <tr v-for="emp in emps">
            <td>{{emp.empno}}</td>
            <td>{{emp.ename}}</td>
            <td>{{emp.job}}</td>
            <td>{{emp.hiredate}}</td>
            <td>{{emp.hiredatestr}}</td>
        </tr>
    </table>
</div>

</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            empno: "",
            ename: "",
            job: "",
            emps: []
        },
        methods: {
            search: function () {
                var that = this;

                axios.get('http://localhost:8080/emp/emps?empno=' + that.empno + '&ename=' + that.ename + "&job=" + that.job)
                    .then(function (response) {
                        console.log(response.data);
                        that.emps = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                /*axios.post('/emp/emps', {
                        empno: that.empno,
                        ename: that.ename,
                        job: that.job
                    }, {
                        headers: {
                            "Content-Type": "application/json;charset=utf-8"  //头部信息
                        }
                    }
                ).then(function (response) {
                    //console.log(response.data.username);
                    //that.user = response.data;
                    //vue help us convert json to object/array
                    console.log("success");
                    console.log(response.data);
                    that.emps = response.data;

                }).catch(function (error) {
                    console.log("error");
                    console.log(error);
                });*/

                /*axios({
                    method: 'post',
                    url: '/emp/emps',
                    data:{
                        empno:that.empno,
                        ename:that.ename,
                        job:that.job
                    }
                    // params: method === 'GET' || method === 'DELETE' ? params : null,
                //     baseURL: global.baseURL,
                //     headers: {
                //     'Authorization': 'Bearer ' + token,
                //         'Content-Type': 'application/json;charset=UTF-8'
                // },
                //     withCredentials: false
                }).then(function (response) {
                    //console.log(response.data.username);
                    //that.user = response.data;
                    //vue help us convert json to object/array
                    console.log("success");
                    console.log(response.data);
                    that.emps = response.data;

                }).catch(function (error) {
                    console.log("error");
                    console.log(error);
                });*/

            }
        }

    })
</script>
</html>